{% extends 'base.html' %}

{% block content%}
<h1>Saved Drinks</h1>
{% if savedDrinks %}
  {% for drink in savedDrinks %}
    <div class="card" style="width: 18rem;">
      <img src={{drink.imageUrl}} class="card-img-top" alt={{dirnk.name}}>
      <div class="card-body">
        <h5 class="card-title">{{drink.name}}</h5>
        <p class="card-text">{{drink.instructions}}</p>
      </div>
      <div style="display: flex; flex-direction:row; justify-content:center">
        <ul class="list-group list-group-flush">
          {% for portion in drink.getIngredientPortions %}
          <li class="list-group-item">{{portion}}</li>
          {% endfor %}
        </ul>
        <ul class="list-group list-group-flush">
          {% for item in drink.getIngredients %}
          <li class="list-group-item">{{item}}</li>
          {% endfor %}
        </ul>  
      </div>
          
      <div class="card-body">
        <a href="add-note/{{drink.drinkId}}" class="card-link">Add note</a>
        <a href="delete-drink/{{drink.drinkId}}" class="card-link">Delete</a>
      </div>
    </div>
  {% endfor %}
{% else%}
    <h6>No saved drinks yet...</h6>
{% endif%}  
{% endblock %}